body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
  }
  
  #game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
    width: max-content;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #43e0f2;
    border: 1px solid #0c0a18;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cell.taken {
    pointer-events: none;
  }
  
  #reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  